In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pickle

In [29]:
df = pd.read_csv("glass.csv")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     0

In [30]:
X = df.drop('Type', axis=1)
y = df['Type']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [32]:
X_train.head()

         RI     Na    Mg    Al     Si     K     Ca   Ba    Fe
24  1.51720  13.38  3.50  1.15  72.85  0.50   8.43  0.0  0.00
25  1.51764  12.98  3.54  1.21  73.00  0.65   8.53  0.0  0.00
23  1.51751  12.81  3.57  1.35  73.02  0.62   8.59  0.0  0.00
81  1.51593  13.25  3.45  1.43  73.17  0.61   7.86  0.0  0.00
69  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03

In [33]:
y_train.head()

24    0
25    0
23    0
81    0
69    0
Name: Type, dtype: int64

In [34]:
lr = LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [36]:
lr.score(X_test, y_test)

0.7551020408163265

In [39]:
pickle.dump(lr, open("model.pkl", 'wb'))